@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* Specific Medusa UI Component Overrides */
    .ui-table-row:hover {
        background-color: #f8f6f5 !important;
    }

    /* Sidebar Links */
    a[href^="/settings"],
    a[href^="/orders"],
    a[href^="/products"] {
        color: #bba79b;
    }

    /* Active Sidebar Item (approximation) */
    .bg-ui-bg-base-pressed {
        background-color: #f05b05 !important;
        color: white !important;
    }
}